--extra-index-url https://packages.dea.ga.gov.au/
datacube>=1.8.17
# for pytest-depends
deepdiff
future_fstrings
mock
moto
networkx
numpy
odc-algo @ git+https://github.com/opendatacube/odc-algo@bb662fe
odc-cloud>=0.2.5
odc-stac @ git+https://github.com/opendatacube/odc-stac@69bdf64

# For tests
pytest
pytest-cov
pytest-httpserver
pytest-timeout

# patch image
xarray>=2023.7.0
