--extra-index-url https://packages.dea.ga.gov.au/
datacube!=1.8.14
# for pytest-depends
deepdiff
future_fstrings
mock
moto
networkx
numpy
odc-algo==0.2.4.dev3628
odc-stac

# For tests
pytest
pytest-cov
pytest-httpserver
pytest-timeout

# patch image
xarray>=2023.1.0
