
--extra-index-url https://packages.dea.ga.gov.au/
# For ML
ai-edge-litert
datacube-ows>=1.9
datacube[performance,s3]==1.9.5
eodatasets3>1.9
hdstats==0.1.8.post1
numexpr>=2.11
odc-algo>=1.0.1,<1.1 # Don't want geomad yet
odc-apps-cloud>=0.2.2
# For testing
odc-apps-dc-tools>=0.2.12
odc-cloud>=0.2.5
odc-dscache>=1.9
odc-geo>=0.5.0rc1
odc-stac>=0.4.0

# odc-stac is in PyPI
tl2cgen
