
--extra-index-url https://packages.dea.ga.gov.au/
datacube[performance,s3]>=1.8.17
hdstats==0.1.8.post1
odc-algo @ git+https://github.com/opendatacube/odc-algo@adb1856
odc-apps-cloud>=0.2.2
# For testing
odc-apps-dc-tools>=0.2.12
odc-cloud>=0.2.5
odc-dscache>=0.2.3
odc-stac @ git+https://github.com/opendatacube/odc-stac@69bdf64

# odc-stac is in PyPI
odc-stats[ows] @ git+https://github.com/opendatacube/odc-stats@bad6a6c

# For ML
tflite-runtime
tl2cgen
